<div class="header">
    <h1 style="font-family:cursive">NodeJS</h1>
  </div>
  
  <div class="ui bottom attached pushable">
    <div class="ui visible inverted left vertical sidebar menu">
      <a class="item" href="/">
        <i class="home icon"></i>
        Ana Sayfa
      </a>
      <a class="item" href="/list">
        <i class="block layout icon"></i>
        Sensor Listesi
      </a>
</div>